.container {
    width: 80px;
    height: 80px;
    background-color: var(--AbiFiro);
    border-radius: 50%;
    position: fixed;
    margin: 85vh 0 0 90vw;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
    font-family: Yekan-bakh;
}

.containerNoActive {
    display: none;
}

.container:hover {
    background-color: var(--AbiFiroDark);
    transition: all 200ms ease-in-out;
    scale: 1.1;
}

.copy {
    display: none;
}

.copy_active {
    display: block;
    color: var(--Sefid);
    margin: 34% 12%;
}

.container img {
    margin: 18%;
    width: 50px;
}

@media (max-width: 1100px) {
    
    .container {
        margin: 85vh 0 0 87vw;
    }
    
}

@media (max-width: 750px) {
    
    .container {
        margin: 85vh 0 0 80vw;
    }
    
}

@media (max-width: 550px) {
    
    .container {
        margin: 85vh 0 0 72vw;
    }
    
}

@media (max-width: 412px) {
    
    .container {
        margin: 80vh 0 0 70vw;
    }

}