.container {
    display: flex;
}

.container section {
    width: 30vw;
    height: 100vh;
}

.container main {
    padding: 0;
    width: 70vw;
    height: 100vh;
}

.section_btn {
    align-items: center;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    fill: rgb(0, 0, 0);
    font-family: 'Yekan';
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 4rem;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.section_btn:focus {
  color: #171e29;
}

.section_btn:hover {
  background-color: var(--AbiFiro);
  border-color: #d8d8d8;
}

main div {
    margin: 25% 40%;
}

main p {
    color: var(--grey);
}

main img {
    width: 128px;
}

/* Form Style */
.formInput {
    width: 100%;
    height: 6vh;
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 0.3s ease-in;
    transition: border-color 0.2s;
    font-size: 20px;
    direction: rtl;
    transition: all 250ms ease-in-out;
    margin-top: 5vh;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(14, 172, 149) 0 -3px 0 inset;
}

.formInput::placeholder {
    margin: 0;
    font-size: 16px;
}

.formInput:focus {
    width: 100%;
    transition: all 250ms ease-in-out;
    transform: translateY(2px);
    background-color: var(--AbiFiro);
    box-shadow: none;
    color: var(--Sefid);
}

.formdiv {
    direction: rtl;
    width: 30vw;
    height: 0;
    transition: all 50ms ease-in;
}

.formdiv_Active {
    direction: rtl;
    width: 40vw;
    height: auto;
    transition: all 50ms ease-in;
}

.formdiv h6 {
    direction: rtl;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 254, 254);
    border-radius: 2px;
    width: 61%;
    padding: 2%;
}

.formdiv_Active h6 {
    direction: rtl;
    color: rgb(255, 255, 255);
    background-color: var(--grey);
    border-radius: 2px;
    width: 87%;
    padding: 2%;
}
