.container {
    background-color: var(--AbiFiroDarker);
    padding: 1%;
    color: var(--Sefid);
    display: flex;
    justify-content: space-around;
    font-family: Yekan-bakh;
}

.container p {
    margin: 0;
    padding: 2%;
}

.container a {
    text-decoration: underline;
    font-size: large;
    color: var(--Sefid);
}

@media (max-width: 1000px) {
    
    .container {
        text-align: center;
        padding: 0;
    }

}

@media (max-width: 412px) {
    
    .container {
        text-align: center;
        padding: 3%;
    }

}